body {
    background-color: white;
}

h1 {
    color: red;
    padding: 60px;
}

p {
    font-size: 30px;
}

#paragrafo {
    color: blueviolet;
}

.paragrafo {
    color: firebrick;
}

.marg {
    font-weight: bold;
}